@model Department
@{
    ViewData["Title"] = "Department Detail";
}

<div class="form-group">
    <label asp-for="code"></label>
    @Html.TextBoxFor(m => m.code, new { @class = "form-control mb-3", @readonly = "readonly" })
    @Html.ValidationMessageFor(m => m.code, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label asp-for="name"></label>
    @Html.TextBoxFor(m => m.name, new { @class = "form-control mb-3", @readonly = "readonly" })
    @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label asp-for="dateCreation"></label>
    @Html.TextBoxFor(m => m.dateCreation, "{0:yyyy-MM-dd}", new { @class = "form-control mb-3", type = "date", @readonly = "readonly" })
    @Html.ValidationMessageFor(m => m.dateCreation, "", new { @class = "text-danger" })
</div>
